<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Dejatunweb">
    <meta name="description" content="ojo descripcion del sitio ojo">
    <meta name="keywords" content=" ojo palabras clave para buscador ojo">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <title>{% block head_title %}
      
    {% endblock head_title %}</title>
  </head>
  <body>
<h1>PROBANDO ............</h1>
{% include "nav.html" %}
  
  {% block content %}
    
  {% endblock content %}
    

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/tether.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>