{% extends "base.html" %} {% block link %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css"> {% endblock link %} {% block content %}
<div class="container-fluid fondo">
    <div class="container d-flex flex-column justify-content-center h-90 text-white align-items-center">
        <h1> Clinica Dental P&D</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae excepturi numquam et optio soluta ducimus quasi id ex, doloremque blanditiis quisquam, delectus maiores minima distinctio cumque quos tempora laborum eum.</p>
    </div>

</div>

{% endblock content %}